<!--© Matthias Lee 2021 All rights reserved.-->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://cdn.xn--zga.net/MCSS1.0.css">
	<link rel="icon" type="image/png" href="http://cdn.xn--zga.net/favicon.ico">
	<title>ū.net URL Shortener | Admin Sign In</title>

</head>
<body style="text-align: center;">
	<a href="/api">Our API</a>
<a href="http://ū.net/shortcut">iOS Shortcut</a>
	<p class="text-medium">Sign In</p>
	<%=@error%>
	<form action="/adminpanel" method="post">
		<label for="pass">Password</label>
		<input style="width: 700px" type="password" name="pass">
		<br>
		<button type="submit" style="margin-top: 5px;">Sign In</button>
		<p style="position: fixed; bottom: 0%; left: 7px;">Version 2.0.15</p>
		<p style="position: fixed; bottom: 0%; right: 7px;">Contact us: <a href="mailto:contact@ū.net">contact@ū.net</a></p>
		<p style="position: fixed; bottom: 0%; left: 0%; right: 0%">© Matthias Lee 2021 All rights reserved</p>
	</form>
</body>
</html>